streamlit==1.30.0
torch==2.7.0
torchaudio==2.7.0
torchvision==0.22.0
transformers==4.41.2
pillow==10.2.0
av==11.0.0
openai-whisper==20231117
gtts==2.5.1
moviepy==1.0.3
requests==2.31.0
openai==1.30.3
